html {
  background: white;
  font-family: "futura-pt", sans-serif;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}
.container .title {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

#radarChart {
  margin-top: 4em;
}

/*canvas {
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}*/
/*.chart-demo {
  float: left;
  width: 640px;
}*/